$color-border: rgb(247, 228, 228);
$color-label: rgb(150, 146, 146);
$font-bold: 'HelveticaNeue-Medium',
'Helvetica Neue Medium';
::-webkit-input-placeholder {
    color: black;
}

h1 {
    font-weight: lighter;
}

.modal-content {
    height: 630px;
}

.remove {
    margin-top: 87px;
}

.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-size {
    float: left;
    width: 9%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}

.group:before,
.group:after {
    content: '';
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

.shopping-cart,
.column-labels,
.product,
.totals-item {
    @extend .group;
}

.product .product-price:before,
.product .product-line-price:before,
.totals-value:before,
#prodPrice:before {
    content: '$';
}

body {
    padding: 0 30px 30px 20px;
    font-weight: 100;
}

label {
    color: $color-label;
}

.shopping-cart {
    margin-top: -45px;
}

.column-labels {
    label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $color-border;
    }
    .product-image,
    .product-details,
    .product-removal {
        text-indent: -9999px;
    }
}

.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;
    .product-image {
        text-align: center;
        img {
            width: 200px;
        }
    }
    .product-details {
        .product-title {
            margin-right: 20px;
            font-family: $font-bold;
            font-weight: bold;
        }
        .product-description {
            margin: 5px 20px 5px 0;
            line-height: 1.4em;
            font-weight: bold;
        }
    }
    .product-quantity {
        input {
            width: 40px;
        }
    }
    .remove-product {
        border: 0;
        padding: 4px 8px;
        background-color: rgb(206, 101, 101);
        color: rgb(250, 244, 244);
        font-family: $font-bold;
        font-size: 12px;
        border-radius: 3px;
    }
    .remove-product:hover {
        background-color: rgb(165, 64, 64);
    }
}

.totals {
    .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
        label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
        }
        .totals-value {
            float: right;
            width: 21%;
            text-align: right;
        }
    }
    .totals-item-total {
        font-family: $font-bold;
    }
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: rgb(14, 13, 13);
    color: rgb(245, 236, 236);
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: rgb(63, 151, 63);
}